@media screen  and (min-width: 768px){
    .section1 img{
        height: 550px;
        object-fit: cover;
        object-position: bottom;
    }

    .section1 button{
        width: 70%;
       
    }

    /* Section2 */
    .section2 .principle{
        width: 70%;
        margin: auto;
    }
    .section2 img{
        height: 200px;
    }